/**
 *
 * Custom Colors Osaka
 *
 **/

* {
    background:     #111c18FF;   /* kitty background */
    background-alt: #23372BFF;   /* kitty color0 (alt/dark panels) */
    foreground:     #C1C497FF;   /* kitty foreground */
    selected:       #23372BFF;   /* kitty color0 for subtle selection */
    active:         #509475FF;   /* kitty color4 (muted green for active) */
    urgent:         #FF5345FF;   /* kitty color1 (red for urgent) */
}
